.slider > img {
  width: 100%; /*reponsive */
  z-index: -1; /*always behind anything*/
  margin-bottom: -150px;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  ); /*complete colour to transparent*/
}
.slider {
  position: relative;
}
.slider > button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.7);
  font-size: xx-large;
  border: none;
  padding: 10px 20px;
  cursor: grab;
  z-index: 2;
}

.slider__buttonLeft {
  left: 10px;
}

.slider__buttonRight {
  right: 10px;
}
